.paneHeader {
    -fx-border-color: #dde1e7;
    -fx-background-color: #dde1e7;

}

hBox, hBox1, pane{
    -fx-content-display: flex;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
    -fx-max-width: 100%;
}

/*
.custom-scroll-pane .scroll-bar:vertical,
.custom-scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #DDDDDD;
}

.custom-scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 8px;
}

.custom-scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 8px;
}

.custom-scroll-pane .thumb {
    -fx-background-color: #888888;
}

.custom-scroll-pane .thumb:hover {
    -fx-background-color: #555555;
}
*/
